/*. = class */

/*# = id*/

div {
  /*border: 3px solid black;*/
  background-color: #becaee;
}

header {
  font-size: 4em;
  text-align: center;
  -webkit-text-stroke: 1.5px black;
  font-family: fantasy;
}

body {
  background-color: #48127e;
  background-image: url(./zebra.png);
}

h1 {
  color: white;
}

h3 {
  font-size: 2.25em;
  text-align: justify;
  -webkit-text-stroke: .75px white;
  font-family: sans-serif;
  padding: 5px;
}

h4 {
  font-size: 2em;
  text-align: justify;
  -webkit-text-stroke: .75px white;
  font-family: sans-serif;
}

p {
  font-size: 1em;
  -webkit-text-stroke: .25px white;
  font-family: sans-serif;
  padding: 10px;
  margin: 30px;
  font-weight: bold;
}

#inputPanel {
  border: 3px solid black;
  text-shadow: 5px black;
  margin-bottom: 50px;
  margin-left: 75px;
  margin-right: 75px;
  text-align: left;
}

#outputPanel {
  border: 3px solid black;
  text-shadow: 5px black;
  margin-bottom: 50px;
  margin-left: 75px;
  margin-right: 75px;
  text-align: left;
}

#submit {
  background-color: white;
  border: none;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-items: baseline;
}
#again {
  background-color: white;
  border: none;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  align-items: baseline;
}


.displayNone {
  display: none;
}

.displayBlock {
  display: flex;
}

.submitc {
  padding-left: 5px;
}

.form {
  width: 250px;
  height: 25px;
}
